* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
  background: white;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT */

.left {
  width: 50%;
  padding: 60px;
}

.left h1 {
  font-size: 36px;
}

.people-img {
  width: 350px;
  margin-top: 30px;
}

/* RIGHT */

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}



.login {
  background: #3f51e5;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
}

.facebook {
  margin-top: 15px;
  padding: 10px;
}

.signup {
  margin-top: 10px;
  border: 1px solid #3f51e5;
  background: white;
  color: #3f51e5;
  padding: 10px;
}

.forget {
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.meta {
  margin-top: 20px;
}



@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    text-align: center;
  }
}